body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Landing Page */
.landing-page {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.landing-image{
    height: 100%;
    width: 100%;
}

.get-started-button {
    position:absolute;
    top: 29.5%;
    left:38.5%;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    height: 6%;
    width: 22.5%;
    border-radius: 20px;
    background-color: #1D809E;
    font-size: 27px;
    /* font-family: "PT Sans Caption"; */
    font-weight: bold;
    font-size: 16pt;
    color: white;
    letter-spacing: 0.5px;
    transition: background-color 0.2s;
    cursor: pointer;
    border: 1px solid #1D809E;
}

.get-started-button:hover{
    background-color: white;
    color: #1D809E;
    border: 1px solid #1D809E;
}

.hospital-marker {
  cursor: pointer;
}

.hospital-marker > img {
    height: 18px;
    width: 18px;
    transition: 0.2s;
}

.hospital-marker > img:hover {
    height: 22px;
    width: 22px;
}

.hospital-marker-selected > img {
    height: 22px;
    width: 22px;
}

.info-box {
    cursor: default;
    width: 60em;
    height: 40em;
    position: absolute;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #000000;
    z-index: 9999;
    opacity: 0.8;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
}

.close-info-box {
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14pt;
    float: right;
    color: rgb(184, 184, 184);
}

.close-info-box:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.hospital-name {
  color: #eceff1;
  font-size: 18pt;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.hospital-detail {
  color: #eceff1;
  font-size: 14pt;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

.menu-bar {
    position: absolute;
    /* margin-top: -20px; */
    height: 7vh;
    min-height: 47px;
    width: 100%;
    z-index: 5000;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

.menu-options {
  margin-top: 1%;
}

.articles-menu {
  margin-left: 5%;
  color: rgb(204, 204, 204);
  display: inline;
}

.articles-menu:hover {
  cursor: pointer;
  color: white;
}

.nsw-map-menu {
  color: rgb(204, 204, 204);
  display: inline;
  margin-left: 5%;
}

.nsw-map-menu:hover {
  cursor: pointer;
  color: white;
}

.articles {
  margin-top: 5%;
  height: 100vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* body {
  padding: 40px 10% 20px 10%;
} */
h1 {
  padding: 20px 0;
  font-size: 2.5em;
  text-align: center;
}

.navbar {
    opacity: 0.85;
}

/* Hospital search bar*/
.search-hospital {
    /* box-shadow: 2px 2px 2px rgb(184, 184, 184); */
    z-index: 999999;
    position: fixed;
    top: 3%;
    left: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 28%;
    max-height: 60%;
    border-radius: 3px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
}

.search-hospital > input {
    padding: 2px;
    padding-left: 5px;
    height: 40px;
    width: 100%;
    font-size: 10pt;
    border: 1px solid white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* opacity: 0.6; */
}

/* .search-hospital > input:hover:not(:focus) {
    animation: fullOpacity 0.2s;
    opacity: 1;
}

.search-hospital > input:focus {
    opacity: 1;
}

.search-hospital > input:not(:focus) {
    animation: halfOpacity 0.2s;
} */


.hospital-option {
    padding: 10px;
    background-color: white;
    color: #1D809E;
    font-size: 12pt;
    font-weight: bold;
    border-left: 1px solid #F9C52F;
    border-top: 1px solid #F9C52F;
    margin-bottom: 0;
    transition: background-color 0.15s, color 0.15s;
    animation: optionFadeIn 0.2s;
}

.hospital-option:hover {
    cursor: pointer;
    background-color: #F9C52F;
    color: #1D809E;
    transition: background-color 0.15s, color 0.15s;
}

.hospital-list {
    z-index: 99999;
}


/*Suburb Search Bar*/
.search-suburb {
    /* box-shadow: 2px 2px 2px rgb(184, 184, 184); */
    z-index: 99998;
    position: absolute;
    top: 9%;
    left: 3.5%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 93%;
    max-height: 60%;
    border-radius: 3px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
}



.search-suburb > input {
    padding: 2px;
    padding-left: 5px;
    height: 40px;
    width: 100%;
    font-size: 10pt;
    border: 1px solid white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* opacity: 0.6; */
}

/* .search-suburb > input:hover:not(:focus) {
    animation: fullOpacity 0.2s;
    opacity: 1;
}

.search-suburb > input:focus {
    opacity: 1;
}

.search-suburb > input:not(:focus) {
    animation: halfOpacity 0.2s;
} */

.suburb-option {
    padding: 10px;
    background-color: white;
    color: #1D809E;
    font-size: 12pt;
    font-weight: bold;
    border-left: 1px solid #F9C52F;
    border-top: 1px solid #F9C52F;
    margin-bottom: 0;
    transition: background-color 0.15s, color 0.15s;
    animation: optionFadeIn 0.2s;
}

.suburb-option:hover {
    cursor: pointer;
    background-color: #F9C52F;
    color: #1D809E;
    transition: background-color 0.15s, color 0.15s;
}

.suburb-list {
    z-index: 99999;
    /* height: 80%; */
    margin-top: 1px;
}

.selected-suburb-indicator {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: green;
    color: white;
    border-radius: 3px;
    margin-bottom: 10%;
}

/* Side Panel */
.side-panel{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
    /* overflow: auto; */
    z-index: 999;
    color: #000;
    box-sizing: border-box;
    background-color: #1D809E;
    box-shadow: 4px 0px 4px -2px grey;
    animation: fadeIn 0.3s ease;
    opacity: 80%;
}

.open-side-panel {
    cursor: pointer;
    z-index: 88888;
    position: absolute;
    top: 8%;
    left: 1%;
    width: 28%;
    height: 45px;
    /* background-color: #1D809E; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    background-color: white;
    color: grey;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    transition: background-color 0.1s;
    /* animation: fadeIn 0.3s ease; */
}

.graph-rectangle{
    margin-top: 50px;
    width: 92%;
    height: 325px;
    background-color: white;
    border-radius: 3px;
}

.closest-hospitals{
    width: 92%;
    height: 100px;
    background-color: white;
    border-radius: 3px;
    margin-top: 150px;
    border-radius: 3px;
}
.quiz-button{
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
    width: 92%;
}
.open-side-panel > p {
    padding-top: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 10pt;
    display: inline-block;
}

.open-side-panel-icon {
    height: 20px;
    width: 20px;
}

.close-side-panel {
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    width: 40%;
    height: 40px;
    background-color: #1D809E;
    color: white;
    border: 1px solid #1D809E;
    border-radius: 3px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    text-align: center;
    transition: background-color 0.1s, color 0.1s;
}

.close-side-panel:hover {
    background-color: rgb(41, 152, 185);
    border: 1px solid #1D809E;
}

.close-side-panel > p {
    margin-top: 5px;
    display: inline-block;
}

.down-arrow, .up-arrow {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

/* Toggle Switch for InfoBox graphs */
/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C2596E;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2ECBC8;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2ECBC8;
}
  
input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* End of Toggle Switch */
.toggle {
    text-align: center;
}

.toggle-text {
    font-size: 12pt;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}
/* End of class styles */
/* Only add custom animations/transitions after this */


/* Animations/Transitions */
@keyframes fullOpacity {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

@keyframes halfOpacity {
    from { opacity: 1; }
    to { opacity: 0.6; }
}

@keyframes optionFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { background-color: rgba(0,0,0,0.0); }
    to { background-color: rgba(29,128,158,1.0); }
}

@keyframes panelOpen {
    from { 
        left: -25%;
        right: 100%; 
    }
    to { 
        left: 0%; 
        right: 73%;
    }
}

